// colors
$equinor_PRIMARY: #FF1243;
$equinor_PROMINENT: #007079;
$equinor_SECONDARY: #243746;
$equinor_DISABLED: #E6E5E6;

$equinor_GRAY: #666;
$equinor_MEDIUM_GRAY: #C2C2C2;
$equinor_LIGHT_GRAY: #F2F2F2;

$mint: #DEFAEB;
$white: #FFF;
$black: #000;



// variables
$brand-spacing: 20px;